apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-sphm
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-okvo-tenant/rhtap-demo-app/hacbs-test-project-sphm@sha256:3cb2833a7b8e160bd5c0929cd86335112e737defee166659da7c6d430132752c
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
